<?xml version="1.0"?>
<robot name="DataLogger">
  <link name="base_link">
    <visual>
      <geometry>
	<!--<mesh filename="package://div_datalogger_postprocess/meshes/Lidar_Imu.stl" scale="0.01 0.01 0.01"/> -->
	<mesh filename="package://div_datalogger_postprocess/meshes/DataLogger_ImuFrame.stl" scale="0.01 0.01 0.01"/>
	<origin rpy="0 0 0" xyz="0 0 0"/>
<!-- LidarImu.stl"/> -->
      </geometry>
    </visual>
  </link>

<link name="laser">
    <visual>
      <geometry>
       <cylinder length="0.06" radius="0.02"/>
      </geometry>
	<!--<origin rpy="0 3.14 0" xyz="-0.017 0.055 -0.01175"/> -->
    <origin rpy="0 0 0" xyz="0 0 0"/>
    </visual>
  </link>

  <joint name="laser_to_camera" type="fixed">
    <parent link="base_link"/>
    <child link="laser"/>
	<!-- <origin rpy="3.14 0 3.14" xyz="0 0 -0.1004"/> -->
  	<!--<origin rpy="3.08 0 3.14" xyz="0 0 -0.1004"/>-->
	<!-- <origin rpy="3.0803662551197895 -0.0002771390638497799 2.1965107437291076" xyz="0 0 -0.1004"/> -->
	<origin rpy="3.14 0.008 3.14" xyz="0 0 -0.1004"/>
  </joint>

</robot>
