<launch>
  <!-- simulation parameter -->   
    <param name="use_sim_time" value="true"/>

  <arg name="bag_dir" default="/home/chalmers/bagfiles/gyro_correction" />
  <arg name="file" default="2018-03-13-15-13-59_0_test_CORRECT.bag" /> 
	<arg name="model" default="$(find div_datalogger_postprocess)/urdf/DataLogger.urdf" />
	<arg name="gui" default="true" />
	<arg name="rvizconfig" default="$(find div_datalogger_postprocess)/rviz/postprocessing.rviz" />

  <!--<node pkg="tf" type="tf_remap" name="tf_remapper" output="screen">
    <rosparam param="mappings">
      [{old: odom, new: /odom_bag},{old: imu, new: /imu_bag}]
    </rosparam>
  </node>
-->
  <node pkg="rosbag" type="play" name="player" args="-r 2 $(arg bag_dir)/$(arg file)">
  </node>

  	
    <!-- GPS conversion 
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
    <param name="magnetic_declination_radians" value="0.0640"/>
    <param name="yaw_offset" value="1.5707963"/>
    <remap from="/imu/data" to="imu/data_corrected" />
    <remap from="/gps/fix" to="fix" />
    <remap from="/odometry/filtered" to="/odometry/filtered" />
  </node>--> 



	<!-- TF broadcasters -->
	<!--<node name="imu_to_tf" pkg="div_datalogger_postprocess" type="imu_to_tf.py" respawn="false" output="screen"/> -->
	<!-- FROM base_link_corrected to base_stabilized_corrected --> 

    <!--<node pkg="tf" type="static_transform_publisher" name="map_2_odom" args="0 0 0 0 0 0 map odom 100"/>
  	<node pkg="tf" type="static_transform_publisher" name="odom_2_base_footprint" args="5 0 0 0 0 0 odom base_footprint 100"/> -->
    
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_2_base_stabilized_corrected" args="0 0 0.95 -1.28 0 0 base_footprint base_stabilized_corrected 100"/>  
   <!--

    <node name="imu_stabilized_to_footprint" pkg="div_datalogger_postprocess" type="imu_stabilized_to_footprint.py" respawn="false" output="screen"/> 
    -->
    
  	<!-- <node pkg="tf" type="static_transform_publisher" name="base_link_corrected_2_imu_link" args="-0.0645 0 0.087 0 0 0 base_link_corrected imu_link 100"/> 
  	<node pkg="tf" type="static_transform_publisher" name="base_link_corrected_2_imu_link" args="-0.0645 0 -0.0134 0 0 0 base_link_corrected imu_link 100"/>-->


  	<!-- URDF 3D model -->
  	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  	<param name="use_gui" value="$(arg gui)"/>

  	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  	
  	<!-- Point cloud assembly -->
  	<!-- for package laseŕ assembler -->
  	
  	<node type="laser_scan_assembler" pkg="laser_assembler" name="my_assembler">
    	<remap from="scan" to="/scan"/>
    	<param name="max_scans" type="int" value="1000" />
    	<param name="fixed_frame" type="string" value="base_stabilized_corrected" />
      <param name="tf_cache_time" type="double" value="20" />
    	<param name="ignore_laser_skew" type="bool" value="false" />
  	</node>
  	<node type="periodic_snapshotter" name="periodic_snapshotter" pkg="laser_assembler"></node>
 
  	<!-- RVIZ -->
  	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

   
</launch>